* {
    bg-col: #1d2021;
    bg-col-light: #1d2021;
    border-col: #1d2021;
    selected-col: #282828;
    blue: #689d6a;
    fg-col: #ebdbb2;
    fg-col2: #d5c4a1;
    grey: #928374;
    width: 600;
}
